
div{ border: 3px solid pink;
   
     background-color: orange;
    font-family: Times New Roman;
    font-size: 14pt;
    }
#b1{  margin: 10px;
      background-color:yellow;
    }

.y1{  background-color: grey;
      padding: 5px; 
      text-align: center;
    }
#b3{ width:25%;
     float:left;
background-color: coral;
    }
#b4{ width:60%;
    float:left; 
background-color: #666666;
    
    }
#b5{ width:10%;
    float:left;

background-color: grey;
    }
#b6{ width:100%;
  clear: both;
    }
